body {
	width: 100%;
	color: #333;
	font-family: sans-serif;
	margin: auto;
}

h1 {
	font-size: 50px;
	text-align: center;
	margin: 40px auto auto auto;
}

#container {
	width: 100%;
	text-align: center;
	margin-top: 50px;
	margin-left: center;
	margin-right: center;
}

h2 {
	font-size: 75px;
}
